@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }

  /* -------------------------Gallery------------------- */
  .gallery-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .gallery-box .gallery-layer {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }

  #gallery,
  .gallery-section {
    display: block;
  }

  .gallery-box .gallery-layer {
    transform: translateY(100%);
    transition: 0.5s ease;
  }

  .gallery-box:hover .gallery-layer {
    transform: translateY(0);
  }

  .gallery-box .gallery-layer:hover {
    transform: translateY(100%);
    transition: 0.5s ease;
  }

  .box .caption {
    transform: translateY(100%);
    transition: 0.5s ease;
  }

  .box:hover .caption {
    transform: translateY(0);
  }

  .box .caption:hover {
    transform: translateY(100%);
    transition: 0.5s ease;
  }

  body {
    padding: 5px;
  }

  .box {
    display: block;
    margin-block: 2rem;
  }

  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .gallery-box .gallery-layer {
    display: block;
  }

  .gallery-box {
    width: 275px;
    height: 275px;
  }

  .gallery-layer {
    display: block;
  }

  .gallery-layer h4 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .gallery-layer p {
    font-size: 1rem;
  }
  .btn-container3 {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    display: inline;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }

  #socials-container {
    margin-top: 2rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  .contact-info-container-right {
    margin-top: 2rem;
    width: 75%;
    align-items: center;
  }

  .gallery-container {
    grid-template-columns: 0.5fr;
    width: auto;
    justify-content: center;
  }
  .gallery-box .gallery-layer {
    display: block;
  }

  /* .btn.btn-color2.contact-btn {
    align-items: center;
  } */
}

@media screen and (max-width: 320px) {
  .gallery-layer {
    display: block;
  }
  .gallery-layer h4 {
    font-size: 1rem;
  }
  .gallery-layer p {
    font-size: 0.5rem;
  }

  .gallery-box .gallery-layer {
    transform: translateY(100%);
    transition: 0.5s ease;
  }

  .gallery-box:hover .gallery-layer {
    transform: translateY(0);
  }

  .gallery-box .gallery-layer:hover {
    transform: translateY(100%);
    transition: 0.5s ease;
  }

  .box .caption {
    transform: translateY(100%);
    transition: 0.5s ease;
  }

  .box:hover .caption {
    transform: translateY(0);
  }

  .box .caption:hover {
    transform: translateY(100%);
    transition: 0.5s ease;
  }

  /* gallery.html */

  /* #body {
    padding: 20%;
    align-items: center;
  }
  #gallery {
    align-items: center;
  }

  .gallery-section {
    grid-template-columns: repeat(1fr);
    align-items: center;
  }
  img {
    width: 100%;
    border-radius: 20px;
    align-items: center;
  }

  .box {
    padding: 20px;
  } */
}

/* gallery  */

/* @media screen and (max-width: 992px) {
  .gallery-section .gallery-wrap .gallery-images {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-section {
    grid-template-columns: repeat(1fr);
  }
  img {
    width: 100%;
    border-radius: 20px;
  }

  .box {
    padding: 20px;
  }
}

@media screen and (max-width: 568px) {
  .gallery-section {
    grid-template-columns: repeat(1fr);
  }
  img {
    width: 100%;
    border-radius: 20px;
  }

  .box {
    padding: 20px;
  }
  .gallery-section .gallery-wrap .gallery-images {
    grid-template-columns: repeat(1fr);
  }
} */
